<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
  <!-- Inclure vos styles CSS ici -->
</head>
<body>
  <h1>Form Submission Result</h1>
  <p><strong>Project Name:</strong> <%= name %></p>
  <p><strong>Front-end Technology:</strong> <%= Front_end %></p>
  <p><strong>Back-end Technology:</strong> <%= Back_end %></p>
  <p><strong>Database:</strong> <%= database %></p>
  <p><strong>Host:</strong> <%= host %></p>
  <p><strong>Username:</strong> <%= username %></p>
  <p><strong>Password:</strong> <%= password %></p>
  <p><strong>Database Name:</strong> <%= namedb %></p>
</body>
</html>
